.cart {
  width: 10%;
  position: relative;
  background-color: rgb(70, 8, 8);
  display: flex;
  justify-content: space-between;

  color: white;
  left: 500px;
  height: 50px;
  border-radius: 10px;
  margin: auto;
  padding: 10px 10px;
}
image {
  width: 10%;
}

.cart div:nth-child(2) {
  background-color: rgb(233, 40, 14);
  padding: 5px;
  border-radius: 3px;
}
